*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width: 100vw;
    background: linear-gradient(90deg,#000000,#28231D)
}
.calc{
    height: 475px;
    width:300px;
    background: #8e8383;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px #000;
    border-radius: 15px
}
.top{
    height:20%;
    width: 100%;
}
#screen{
    height: 100%;
    width:100%;
    background: none;
    border: none;
    font-size: 50px;
    text-align: right;
    padding-right: 1%;
}
.bottom{
    height:80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    height: 19%;
    width:24%;
    margin: 1px;
    border-radius: 10px;
    background: #484444;
    border: none;
    font-size: 32px;    
}
.spec{
    background: #2d2a2a;
}
.equal{
    background: #2d2a2a;
    width: 48%;
}
button:hover{
    background: #8f8b8b;
}